FRONTEND_URL=https://tic-tac-triumph-game.vercel.app
VITE_SOCKET_URL=https://tic-tac-triumph-game.vercel.app
SERVER_URL=https://tic-tac-triumph-game.vercel.app
MODE=production
PORT=3000
DOMAIN2="https://tic-tac-triumph-game-md4j1m7xv-onyekelu-chukwuebukas-projects.vercel.app/"